<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal" role="form">
      <%= form_for(Message.new) do |f| %>
          <div class="form-group">
              <label class="col-md-1 col-xs-2 control-label" for="InputName">名前：</label>
              <div class="col-md-5 col-xs-9">
                  <div id="InputName"><%= f.text_field :name, :class => "form-control" %></div>
              </div>
          </div>
          <div class="form-group">
              <label class="col-md-1 col-xs-2 control-label" for="InputBody">内容：</label>
              <div class="col-md-10 col-xs-9">
                  <div id="InputBody"><%= f.text_area :body, :class => "form-control", :rows => 6 %></div>
              </div>
          </div>
          <div class="form-group">
              <%= f.submit class: "col-md-offset-9 col-xs-offset-9 btn btn-sm btn-primary" %>
          </div>
      <% end %>
  </div>

<% end %>